In [2]:
import pandas as pd

df_location = pd.read_csv("atm_location lookup.csv")
df_calender = pd.read_csv("calendar lookup.csv")
df_customer = pd.read_csv("customers_lookup.csv")
df_transaction = pd.read_csv("fct_transactions.csv")

print(df_calender.head())
print(df_customer.head())
print(df_location.head())
print(df_transaction.head())

       Date  Year Month Name  Month Quarter  Week of Year End of Week  \
0  1/1/2022  2022    January      1      Q1             1    1/1/2022
1  1/2/2022  2022    January      1      Q1             1    1/8/2022
2  1/3/2022  2022    January      1      Q1             2    1/8/2022
3  1/4/2022  2022    January      1      Q1             2    1/8/2022
4  1/5/2022  2022    January      1      Q1             2    1/8/2022

   Day of Week   Day Name  IsHoliday
0            5   Saturday          1
1            6     Sunday          0
2            0     Monday          1
3            1    Tuesday          0
4            2  Wednesday          0
  CardholderID  First Name Last Name Gender   ATMID  Birth Date  \
0  RI-004-1018    Emmanuel  Akpobari      M  RI-004  02/14/2002
1  FC-005-1022      Habiba    Zainab      M  FC-005  06/28/1987
2  FC-005-1024  Abdulkadir     Sadiq      F  FC-005  09/28/2003
3  FC-006-1007  Adetokunbo   Adeniyi      M  FC-006  08/20/1978
4  FC-006-1036       Qudus   Ademola      F  FC-006   10/2/1985

                   Occupation AccountType  IsWisabi
0                    Mechanic     Current         1
1              Factory Worker     Current         0
2                      Trader     Current         1
3  Human Resources Specialist     Current         1
4                      Trader     Current         1
  LocationID        Location Name  No of ATMs   City  State  Country
0     LA-001       Wisabi Bank HQ           7  Lagos  Lagos  Nigeria
1     LA-002  Victoria Island ATM           3  Lagos  Lagos  Nigeria
2     LA-003            Ikeja ATM           3  Lagos  Lagos  Nigeria
3     LA-004            Lekki ATM           3  Lagos  Lagos  Nigeria
4     LA-005         Surulere ATM           3  Lagos  Lagos  Nigeria
        TransactionID TransactionStartDateTime TransactionEndDateTime  \
0  FC-2022-1000000001            1/1/2022 5:00          1/1/2022 5:01
1  FC-2022-1000000002            1/1/2022 5:14          1/1/2022 5:16
2  FC-2022-1000000003            1/1/2022 5:14          1/1/2022 5:17
3  FC-2022-1000000004            1/1/2022 6:26          1/1/2022 6:31
4  FC-2022-1000000005            1/1/2022 6:27          1/1/2022 6:30

  CardholderID LocationID  TransactionTypeID  TransactionAmount
0  FC-001-1015     FC-001                  3                  0
1  FC-001-1001     FC-001                  3                  0
2  FC-002-1045     FC-002                  2              10000
3  FC-004-1013     FC-004                  1              50000
4  FC-003-1023     FC-003                  2              10000

In [ ]:
##Konversi Date di "calenrder_lookup"##
df_calender['Date'] = pd.to_datetime(df_calender['Date'])
print(df_calender)

          Date  Year Month Name  Month Quarter  Week of Year End of Week  \
0   2022-01-01  2022    January      1      Q1             1    1/1/2022
1   2022-01-02  2022    January      1      Q1             1    1/8/2022
2   2022-01-03  2022    January      1      Q1             2    1/8/2022
3   2022-01-04  2022    January      1      Q1             2    1/8/2022
4   2022-01-05  2022    January      1      Q1             2    1/8/2022
..         ...   ...        ...    ...     ...           ...         ...
360 2022-12-27  2022   December     12      Q4            53  12/31/2022
361 2022-12-28  2022   December     12      Q4            53  12/31/2022
362 2022-12-29  2022   December     12      Q4            53  12/31/2022
363 2022-12-30  2022   December     12      Q4            53  12/31/2022
364 2022-12-31  2022   December     12      Q4            53  12/31/2022

     Day of Week   Day Name  IsHoliday
0              5   Saturday          1
1              6     Sunday          0
2              0     Monday          1
3              1    Tuesday          0
4              2  Wednesday          0
..           ...        ...        ...
360            1    Tuesday          0
361            2  Wednesday          0
362            3   Thursday          0
363            4     Friday          0
364            5   Saturday          0

[365 rows x 10 columns]

In [ ]:
## Konversi kolom waktu di Fact Transaction##
df_transaction['Date'] = df_transaction['TransactionStartDateTime'].dt.date
print(df_transaction.head())

        TransactionID TransactionStartDateTime TransactionEndDateTime  \
0  FC-2022-1000000001      2022-01-01 05:00:00          1/1/2022 5:01
1  FC-2022-1000000002      2022-01-01 05:14:00          1/1/2022 5:16
2  FC-2022-1000000003      2022-01-01 05:14:00          1/1/2022 5:17
3  FC-2022-1000000004      2022-01-01 06:26:00          1/1/2022 6:31
4  FC-2022-1000000005      2022-01-01 06:27:00          1/1/2022 6:30

  CardholderID LocationID  TransactionTypeID  TransactionAmount        Date
0  FC-001-1015     FC-001                  3                  0  2022-01-01
1  FC-001-1001     FC-001                  3                  0  2022-01-01
2  FC-002-1045     FC-002                  2              10000  2022-01-01
3  FC-004-1013     FC-004                  1              50000  2022-01-01
4  FC-003-1023     FC-003                  2              10000  2022-01-01

In [21]:
##Ekstrak “Date Only” dari faktany
df_transaction['Date']=pd.to_datetime(df_transaction['Date'])
print(df_transaction.Date)

0        2022-01-01
1        2022-01-01
2        2022-01-01
3        2022-01-01
4        2022-01-01
            ...
159647   2022-12-31
159648   2022-12-31
159649   2022-12-31
159650   2022-12-31
159651   2022-12-31
Name: Date, Length: 159652, dtype: datetime64[ns]

In [ ]:
##Pastikan kolom Date di Fact juga datetime (bukan python date)
df_transaction['Date'] = pd.to_datetime(df_transaction['Date'])

In [ ]:
df_merge = df_transaction.merge(
    df_calender,
    on="Date",
    how="left"
)

In [24]:
df_merge[['TransactionStartDateTime', 'Date', 'Year', 'Month']].head()

  TransactionStartDateTime       Date  Year  Month
0      2022-01-01 05:00:00 2022-01-01  2022      1
1      2022-01-01 05:14:00 2022-01-01  2022      1
2      2022-01-01 05:14:00 2022-01-01  2022      1
3      2022-01-01 06:26:00 2022-01-01  2022      1
4      2022-01-01 06:27:00 2022-01-01  2022      1

In [26]:
print(df_location.head())

  LocationID        Location Name  No of ATMs   City  State  Country
0     LA-001       Wisabi Bank HQ           7  Lagos  Lagos  Nigeria
1     LA-002  Victoria Island ATM           3  Lagos  Lagos  Nigeria
2     LA-003            Ikeja ATM           3  Lagos  Lagos  Nigeria
3     LA-004            Lekki ATM           3  Lagos  Lagos  Nigeria
4     LA-005         Surulere ATM           3  Lagos  Lagos  Nigeria

In [27]:
df_merge1 = df_transaction.merge(
    df_location,
    on= "LocationID",
    how="left"
)

In [28]:
print(df_customer.head())

  CardholderID  First Name Last Name Gender   ATMID  Birth Date  \
0  RI-004-1018    Emmanuel  Akpobari      M  RI-004  02/14/2002
1  FC-005-1022      Habiba    Zainab      M  FC-005  06/28/1987
2  FC-005-1024  Abdulkadir     Sadiq      F  FC-005  09/28/2003
3  FC-006-1007  Adetokunbo   Adeniyi      M  FC-006  08/20/1978
4  FC-006-1036       Qudus   Ademola      F  FC-006   10/2/1985

                   Occupation AccountType  IsWisabi
0                    Mechanic     Current         1
1              Factory Worker     Current         0
2                      Trader     Current         1
3  Human Resources Specialist     Current         1
4                      Trader     Current         1

In [29]:
df_merge2 = df_merge1.merge(
    df_customer,
    on='CardholderID',
    how="left"
)

In [30]:
df_final = df_merge2.merge(
    df_calender,
    on="Date",
    how="left"
)

In [31]:
df_final.isnull().sum()

TransactionID               0
TransactionStartDateTime    0
TransactionEndDateTime      0
CardholderID                0
LocationID                  0
TransactionTypeID           0
TransactionAmount           0
Date                        0
Location Name               0
No of ATMs                  0
City                        0
State                       0
Country                     0
First Name                  0
Last Name                   0
Gender                      0
ATMID                       0
Birth Date                  0
Occupation                  0
AccountType                 0
IsWisabi                    0
Year                        0
Month Name                  0
Month                       0
Quarter                     0
Week of Year                0
End of Week                 0
Day of Week                 0
Day Name                    0
IsHoliday                   0
dtype: int64

In [32]:
missing_location = df_transaction[df_transaction['LocationID'].isin(df_location['LocationID'])]
print(missing_location)

             TransactionID TransactionStartDateTime TransactionEndDateTime  \
0       FC-2022-1000000001      2022-01-01 05:00:00          1/1/2022 5:01
1       FC-2022-1000000002      2022-01-01 05:14:00          1/1/2022 5:16
2       FC-2022-1000000003      2022-01-01 05:14:00          1/1/2022 5:17
3       FC-2022-1000000004      2022-01-01 06:26:00          1/1/2022 6:31
4       FC-2022-1000000005      2022-01-01 06:27:00          1/1/2022 6:30
...                    ...                      ...                    ...
159647  FC-2022-1000159648      2022-12-31 18:55:00       12/31/2022 18:59
159648  FC-2022-1000159649      2022-12-31 18:55:00       12/31/2022 18:59
159649  FC-2022-1000159650      2022-12-31 18:58:00       12/31/2022 19:01
159650  FC-2022-1000159651      2022-12-31 18:58:00       12/31/2022 19:02
159651  FC-2022-1000159652      2022-12-31 18:59:00       12/31/2022 19:03

       CardholderID LocationID  TransactionTypeID  TransactionAmount  \
0       FC-001-1015     FC-001                  3                  0
1       FC-001-1001     FC-001                  3                  0
2       FC-002-1045     FC-002                  2              10000
3       FC-004-1013     FC-004                  1              50000
4       FC-003-1023     FC-003                  2              10000
...             ...        ...                ...                ...
159647  FC-004-1003     FC-004                  2              20000
159648  FC-004-1003     FC-004                  1              50000
159649  FC-001-1004     FC-001                  1               6000
159650  FC-005-1039     FC-005                  1              10000
159651  FC-002-1040     FC-002                  4              10000

             Date
0      2022-01-01
1      2022-01-01
2      2022-01-01
3      2022-01-01
4      2022-01-01
...           ...
159647 2022-12-31
159648 2022-12-31
159649 2022-12-31
159650 2022-12-31
159651 2022-12-31

[159652 rows x 8 columns]

In [34]:
missing_customer = df_transaction[df_transaction['CardholderID'].isin(df_customer['CardholderID'])]
print(missing_customer)

             TransactionID TransactionStartDateTime TransactionEndDateTime  \
0       FC-2022-1000000001      2022-01-01 05:00:00          1/1/2022 5:01
1       FC-2022-1000000002      2022-01-01 05:14:00          1/1/2022 5:16
2       FC-2022-1000000003      2022-01-01 05:14:00          1/1/2022 5:17
3       FC-2022-1000000004      2022-01-01 06:26:00          1/1/2022 6:31
4       FC-2022-1000000005      2022-01-01 06:27:00          1/1/2022 6:30
...                    ...                      ...                    ...
159647  FC-2022-1000159648      2022-12-31 18:55:00       12/31/2022 18:59
159648  FC-2022-1000159649      2022-12-31 18:55:00       12/31/2022 18:59
159649  FC-2022-1000159650      2022-12-31 18:58:00       12/31/2022 19:01
159650  FC-2022-1000159651      2022-12-31 18:58:00       12/31/2022 19:02
159651  FC-2022-1000159652      2022-12-31 18:59:00       12/31/2022 19:03

       CardholderID LocationID  TransactionTypeID  TransactionAmount  \
0       FC-001-1015     FC-001                  3                  0
1       FC-001-1001     FC-001                  3                  0
2       FC-002-1045     FC-002                  2              10000
3       FC-004-1013     FC-004                  1              50000
4       FC-003-1023     FC-003                  2              10000
...             ...        ...                ...                ...
159647  FC-004-1003     FC-004                  2              20000
159648  FC-004-1003     FC-004                  1              50000
159649  FC-001-1004     FC-001                  1               6000
159650  FC-005-1039     FC-005                  1              10000
159651  FC-002-1040     FC-002                  4              10000

             Date
0      2022-01-01
1      2022-01-01
2      2022-01-01
3      2022-01-01
4      2022-01-01
...           ...
159647 2022-12-31
159648 2022-12-31
159649 2022-12-31
159650 2022-12-31
159651 2022-12-31

[159652 rows x 8 columns]

In [39]:
missing_calender = df_final[df_final['Month'].isnull()]
print(missing_calender)

Empty DataFrame
Columns: [TransactionID, TransactionStartDateTime, TransactionEndDateTime, CardholderID, LocationID, TransactionTypeID, TransactionAmount, Date, Location Name, No of ATMs, City, State, Country, First Name, Last Name, Gender, ATMID, Birth Date, Occupation, AccountType, IsWisabi, Year, Month Name, Month, Quarter, Week of Year, End of Week, Day of Week, Day Name, IsHoliday]
Index: []

[0 rows x 30 columns]

In [ ]:
df_final.to_csv("Data_Gabungan_CDM.csv")

AttributeError: 'str' object has no attribute 'head'

In [44]:
df_data = pd.read_csv("Data_Gabungan_CDM.csv")
print(df_data)

        Unnamed: 0       TransactionID TransactionStartDateTime  \
0                0  FC-2022-1000000001      2022-01-01 05:00:00
1                1  FC-2022-1000000002      2022-01-01 05:14:00
2                2  FC-2022-1000000003      2022-01-01 05:14:00
3                3  FC-2022-1000000004      2022-01-01 06:26:00
4                4  FC-2022-1000000005      2022-01-01 06:27:00
...            ...                 ...                      ...
159647      159647  FC-2022-1000159648      2022-12-31 18:55:00
159648      159648  FC-2022-1000159649      2022-12-31 18:55:00
159649      159649  FC-2022-1000159650      2022-12-31 18:58:00
159650      159650  FC-2022-1000159651      2022-12-31 18:58:00
159651      159651  FC-2022-1000159652      2022-12-31 18:59:00

       TransactionEndDateTime CardholderID LocationID  TransactionTypeID  \
0               1/1/2022 5:01  FC-001-1015     FC-001                  3
1               1/1/2022 5:16  FC-001-1001     FC-001                  3
2               1/1/2022 5:17  FC-002-1045     FC-002                  2
3               1/1/2022 6:31  FC-004-1013     FC-004                  1
4               1/1/2022 6:30  FC-003-1023     FC-003                  2
...                       ...          ...        ...                ...
159647       12/31/2022 18:59  FC-004-1003     FC-004                  2
159648       12/31/2022 18:59  FC-004-1003     FC-004                  1
159649       12/31/2022 19:01  FC-001-1004     FC-001                  1
159650       12/31/2022 19:02  FC-005-1039     FC-005                  1
159651       12/31/2022 19:03  FC-002-1040     FC-002                  4

        TransactionAmount        Date  Location Name  ...  IsWisabi  Year  \
0                       0  2022-01-01  FCT Abuja ATM  ...         1  2022
1                       0  2022-01-01  FCT Abuja ATM  ...         1  2022
2                   10000  2022-01-01      Kubwa ATM  ...         1  2022
3                   50000  2022-01-01    Maitama ATM  ...         1  2022
4                   10000  2022-01-01      Garki ATM  ...         1  2022
...                   ...         ...            ...  ...       ...   ...
159647              20000  2022-12-31    Maitama ATM  ...         1  2022
159648              50000  2022-12-31    Maitama ATM  ...         1  2022
159649               6000  2022-12-31  FCT Abuja ATM  ...         1  2022
159650              10000  2022-12-31       Wuse ATM  ...         0  2022
159651              10000  2022-12-31      Kubwa ATM  ...         1  2022

       Month Name Month Quarter Week of Year End of Week Day of Week  \
0         January     1      Q1            1    1/1/2022           5
1         January     1      Q1            1    1/1/2022           5
2         January     1      Q1            1    1/1/2022           5
3         January     1      Q1            1    1/1/2022           5
4         January     1      Q1            1    1/1/2022           5
...           ...   ...     ...          ...         ...         ...
159647   December    12      Q4           53  12/31/2022           5
159648   December    12      Q4           53  12/31/2022           5
159649   December    12      Q4           53  12/31/2022           5
159650   December    12      Q4           53  12/31/2022           5
159651   December    12      Q4           53  12/31/2022           5

        Day Name IsHoliday
0       Saturday         1
1       Saturday         1
2       Saturday         1
3       Saturday         1
4       Saturday         1
...          ...       ...
159647  Saturday         0
159648  Saturday         0
159649  Saturday         0
159650  Saturday         0
159651  Saturday         0

[159652 rows x 31 columns]

In [49]:
import pandas as pd
df = pd.read_csv("Data_Gabungan_CDM.csv", dtype=str)

In [50]:
unnamed_cols = [c for c in df.columns if c.startswith('Unnamed')]
df = df.drop(columns=unnamed_cols, errors='ignore')

In [51]:
df.columns = df.columns.str.strip().str.replace(" ","_").str.replace("/", "_").str.lower()

In [53]:
str_cols = df.select_dtypes(include='object').columns.tolist()
for c in str_cols :
    df[c]=df[c].astype(str).str.strip()

In [54]:
# parsing start datetime
df['transactionstartdatetime_parsed'] = pd.to_datetime(df['transactionstartdatetime'], errors='coerce')

# parsing end datetime (format campuran mm/dd/yyyy hh:mm dan iso)
df['transactionenddatetime_parsed'] = pd.to_datetime(df['transactionenddatetime'], errors='coerce')

# cek berapa yang gagal parse
print("Failed parse start dt:", df['transactionstartdatetime_parsed'].isna().sum())
print("Failed parse end dt:", df['transactionenddatetime_parsed'].isna().sum())

# lihat sample baris yang gagal parse (max 20)
display(df[df['transactionstartdatetime_parsed'].isna()].head(20))
display(df[df['transactionenddatetime_parsed'].isna()].head(20))

Failed parse start dt: 0
Failed parse end dt: 0

Empty DataFrame
Columns: [transactionid, transactionstartdatetime, transactionenddatetime, cardholderid, locationid, transactiontypeid, transactionamount, date, location_name, no_of_atms, city, state, country, first_name, last_name, gender, atmid, birth_date, occupation, accounttype, iswisabi, year, month_name, month, quarter, week_of_year, end_of_week, day_of_week, day_name, isholiday, transactionstartdatetime_parsed, transactionenddatetime_parsed]
Index: []

[0 rows x 32 columns]

Empty DataFrame
Columns: [transactionid, transactionstartdatetime, transactionenddatetime, cardholderid, locationid, transactiontypeid, transactionamount, date, location_name, no_of_atms, city, state, country, first_name, last_name, gender, atmid, birth_date, occupation, accounttype, iswisabi, year, month_name, month, quarter, week_of_year, end_of_week, day_of_week, day_name, isholiday, transactionstartdatetime_parsed, transactionenddatetime_parsed]
Index: []

[0 rows x 32 columns]

In [55]:
# buat date dari parsed start datetime
df['date'] = df['transactionstartdatetime_parsed'].dt.date

# ubah ke datetime (pandas Timestamp tanpa waktu)
df['date'] = pd.to_datetime(df['date'])

# cek unik range date
print(df['date'].min(), df['date'].max())

2022-01-01 00:00:00 2022-12-31 00:00:00

In [56]:
# cek null di kolom kunci penting
key_cols = ['transactionid', 'transactionstartdatetime_parsed', 'transactionenddatetime_parsed', 'cardholderid', 'locationid', 'transactionamount', 'date']
print(df[key_cols].isna().sum())

transactionid                      0
transactionstartdatetime_parsed    0
transactionenddatetime_parsed      0
cardholderid                       0
locationid                         0
transactionamount                  0
date                               0
dtype: int64

In [57]:
# bersihkan thousand separator jika ada (mis. "10,000")
df['transactionamount_clean'] = df['transactionamount'].str.replace(',', '').str.replace(' ', '')
df['transactionamount_clean'] = pd.to_numeric(df['transactionamount_clean'], errors='coerce')

# cek berapa null atau 0
print("NaN amount:", df['transactionamount_clean'].isna().sum())
print("Zero amount:", (df['transactionamount_clean']==0).sum())
print("Negative amount:", (df['transactionamount_clean']<0).sum())

# lihat sample value outlier (sangat besar)
display(df[df['transactionamount_clean']>100000000].head())

NaN amount: 0
Zero amount: 33107
Negative amount: 0

Empty DataFrame
Columns: [transactionid, transactionstartdatetime, transactionenddatetime, cardholderid, locationid, transactiontypeid, transactionamount, date, location_name, no_of_atms, city, state, country, first_name, last_name, gender, atmid, birth_date, occupation, accounttype, iswisabi, year, month_name, month, quarter, week_of_year, end_of_week, day_of_week, day_name, isholiday, transactionstartdatetime_parsed, transactionenddatetime_parsed, transactionamount_clean]
Index: []

[0 rows x 33 columns]

In [58]:
dup_count = df['transactionid'].duplicated().sum()
print("Duplicate TransactionID count:", dup_count)

# jika ada duplikasi, tunjuk beberapa contoh
if dup_count>0:
    display(df[df['transactionid'].duplicated(keep=False)].sort_values('transactionid').head(50))

Duplicate TransactionID count: 0

In [60]:
# pastikan format nama kolom sama
df_location['LocationID'] = df_location['LocationID'].astype(str).str.strip()

missing_loc = df[~df['LocationID'].isin(df_location['LocationID'])]
print("Transactions with missing location in lookup:", missing_loc.shape[0])
display(missing_loc[['transactionid','locationid']].drop_duplicates().head(50))

KeyError: 'LocationID'

In [61]:
import pandas as pd

# 1. Load dataset utama (hasil merge 31 kolom tadi)
df = pd.read_csv("Data_Gabungan_CDM.csv")   # ganti dengan nama file kamu

# 2. Random sampling 50.000 baris
df_50k = df.sample(n=50000, random_state=42).reset_index(drop=True)

# 3. Simpan ke file baru
df_50k.to_csv("dataset_cdm_50k.csv", index=False)

print("Sampling selesai! File baru disimpan sebagai dataset_cdm_50k.csv")

Sampling selesai! File baru disimpan sebagai dataset_cdm_50k.csv